* { 
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;

}

.search {
  height: 100%;
  margin: 0%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 35vw;
  padding: 9px 20px;
}

.searchButton {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 9px 20px;
  height: 100%;
  border-left-width: 0cm;
}

.searchButton:hover {
  cursor: pointer;
}
